<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darkblue.mo_chi_server.mapper.NoteMapper">
    <sql id="allFields">
        nid,title,content_url,created_datetime,updated_datetime,is_public,self_tags
    </sql>
    <sql id="allFields_except_primaryKey">
        title,content_url,created_datetime,updated_datetime,is_public,self_tags
    </sql>
    <insert id="insert" parameterType="note">
        insert into note
        (<include refid="allFields_except_primaryKey"></include>)
        values (#{title}, #{contentUrl},#{createdDatetime}, #{updatedDatetime},#{isPublic},#{selfTags})
    </insert>
    <delete id="deleteByNid">
        delete
        from note
        where nid = #{nid}
    </delete>
    <select id="selectByNid" resultType="com.darkblue.mo_chi_server.entity.Note">
        select
        <include refid="allFields"></include>
        from note
        where nid = #{nid}
    </select>
    <select id="selectByTitle" resultType="com.darkblue.mo_chi_server.entity.Note">
        select
        <include refid="allFields"></include>
        from note
        where title = #{title}
    </select>
    <select id="selectByCreatedByDatetimeRange" resultType="com.darkblue.mo_chi_server.entity.Note">
        select
        <include refid="allFields"></include>
        from note
        where created_datetime between #{start} and #{end}
    </select>
    <select id="selectByIsPublic" resultType="com.darkblue.mo_chi_server.entity.Note">
        select
        <include refid="allFields"></include>
        from note
        where is_public = #{isPublic}
    </select>
    <select id="selectBySelfTags" resultType="com.darkblue.mo_chi_server.entity.Note">
        select
        <include refid="allFields"></include>
        from note
        <where>
            <foreach collection="selfTags" index="index" item="selfTag" open="(" close=")" separator=" or ">
                self_tags rlike concat('\\b',#{selfTag},'\\b')
            </foreach>
        </where>
    </select>

</mapper>