<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darkblue.mo_chi_server.mapper.UserAdminMapperMapper">
    <sql id="allFields">
        uid,aid
    </sql>
    <sql id="allFields_except_primaryKey">
        aid
    </sql>
    <insert id="insert" parameterType="userAdminMapper">
        insert into user_admin_mapper
        (<include refid="allFields_except_primaryKey"></include>)
        values (#{aid})
    </insert>
    <delete id="deleteByUid">
        delete
        from user_admin_mapper
        where uid = #{uid}
    </delete>
    <select id="selectByUid" resultType="com.darkblue.mo_chi_server.entity.UserAdminMapper">
        select <include refid="allFields"></include>
        from user_admin_mapper
        where uid = #{uid}
    </select>
    <select id="selectByAid" resultType="com.darkblue.mo_chi_server.entity.UserAdminMapper">
        select
        <include refid="allFields"></include>
        from user_admin_mapper
        where aid = #{aid}
    </select>

</mapper>